body{
font-family: 'Arvo', serif;
margin: auto ;
margin-top: 0;
background-color: black;

}
.fix{
    position: fixed;
    color: #fff;
}
h2{
    color: aliceblue;
    text-align: center;
}
h3{
    color: aliceblue;
    text-align: center;
}
.top-container{
text-align: center;
color: aliceblue;
padding-top: 20px;
padding-bottom: 20px;

}
.note{
    text-align: center;
    padding-bottom: 20px;
}
.middle-container{
    text-align: center;
    padding-bottom: 30px;
}